<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <!--El binding bidireccional usa la variable sort-->
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <img src="https://fotografias-neox.atresmedia.com/clipping/cmsimages02/2016/08/30/F1311F3B-298C-42B7-9D70-DD40576FAFC1/98.jpg?crop=624,351,x10,y0&width=1900&height=1069&optimize=high&format=webply" alt="thumbnail"
        class="game-thumbnail">
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img src="https://img.freepik.com/iconos-gratis/logo-playstation_318-10089.jpg" alt="slug" class="game-platform">
            </div>
        </div>
    </div>
</div>